<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Login Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="common/css/login.css">
<link rel="shortcut icon" href="common/img/tabLogo.png">
<script src="common/js/login.js" type="text/javascript"></script>
<script>
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength)
			object.value = object.value.slice(0, object.maxLength);
	}
</script>
</head>
<body ng-app="login" ng-controller="loginCtrl">

	<img ng-if="loading" src="common/img/ajax_loader.gif"
		style="z-index: 9999; width: 10%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
		alt="" />

	<img src="common/img/logo.png"
		style="margin-left: 40%; padding-top: 4%;">
	<a></a>
	<div class="wrapper">
		<form class="form-signin" ng-submit="login(as.password)"
			style="border-radius: 10px;">
			<h2 class="form-signin-heading">Login</h2>


			<div class="row row-margin">
				<div class="col-sm-4">
					<span>Username</span>
				</div>
				<div class="col-sm-8">
					<input type="text" class="form-control inputHeight"
						ng-readonly="checked" ng-model="as.username" required>
				</div>

			</div>
			</br>
			<div class="row row-margin">
				<div class="col-sm-4">
					<span>Password</span>
				</div>

				<div class="col-sm-8">
					<input type="password" name=password
						class="form-control inputHeight" ng-model="as.password"
						ng-readonly="checked" required>
					<p style="color: red; margin-top: 5px;" ng-if="minMaxLength">Minimum
						8 character required</p>
					<p style="color: red; margin-top: 5px;" ng-if="upper">One or
						more uppercase letters required</p>
					<p style="color: red; margin-top: 5px;" ng-if="lower">One or
						more lowercase letters required</p>
					<p style="color: red; margin-top: 5px;" ng-if="number">One or
						more numbers required</p>
					<p style="color: red; margin-top: 5px;" ng-if="special">One or
						more special characters required</p>
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-12">
					<button class="btn  btn-block" ng-disabled="checked"
						style="background-color: red; margin-top: 3%; color: white;"
						type="submit">Login</button>
					<a href="#" data-target="#pwdModal" data-toggle="modal" style="float: left;">Forgot
						my password</a> <a href="associate/new-user.html"
						style="float: right;">Sign In?</a>
				</div>

			</div>
			
		</form>

		<!--modal-->
		<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h1 class="text-center">What's My Password?</h1>
					</div>
					<div class="modal-body">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="text-center">

										<p>If you have forgotten your password you can reset it
											here.</p>
										<div class="panel-body">
											<fieldset>
												<div class="form-group">
													<input class="form-control input-lg" ng-model="username"
														placeholder="username" name="username" type="text">
												</div>
												<input class="btn btn-lg btn-danger btn-block"
													value="Send My Password" ng-click="resetPassword()">
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="border-top: none;">
						<div class="col-md-12">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>





