<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link href="../public/common/css/jQuery.css" rel="stylesheet"
	type="text/css" />

<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<script src="../public/common/angularjs/angular-messages.js"></script>


<script src="../public/common/js/resetPassword.js"
	type="text/javascript"></script>
</head>
<body ng-app="rPassword">
	<!--modal-->
	<div id="pwdModal" class="" tabindex="-1" role="dialog"
		style="margin-top: 6%;" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="text-center">Reset your Password Here</h1>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-body">
								<div class="text-center">

									<div class="panel-body">
										<form name="form" ng-submit="resetPassword()"
											ng-controller="resetPasswordCtrl">
											<div class="form-group">
												<input class="form-control input-lg"
													placeholder="New password" name="password" id="password"
													ng-model="re.password" type="password" minlength="8"
													pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
												<div ng-messages="form.password.$error" role="alert"
													style="color: red;">
													<div ng-message="pattern">password should be one
														lowercase, uppercase and number required</div>
													<div ng-message="minlength">minimum 8 character
														required</div>
												</div>
											</div>
											<div class="form-group">
												<input class="form-control input-lg"
													placeholder="Confirm password" name="confirmPassword"
													type="password" ng-model="re.confirmPassword" required
													check-passwords-match>
												<div ng-messages="form.confirmPassword.$error" role="alert"
													style="color: red;">
													<div ng-message="checkPasswordsMatch">Password Does
														not match</div>
												</div>
											</div>

											<input class="btn btn-lg btn-danger btn-block" value="Reset My Password"
												type="submit">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="border-top: none;"></div>
			</div>
		</div>
	</div>
</body>
</html>