<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="../public/common/img/tabLogo.png">
<script src="js/homePage.js" type="text/javascript"></script>
<script>
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength)
			object.value = object.value.slice(0, object.maxLength);
	}
</script>
</head>
<body ng-app="homePage" ng-controller="homePageCtrl">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#nave">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div class="collapse" id="nave">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="adminHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar"
				role="navigation">

				<ul class="nav nav-sidebar">
					<li><a href="adminHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				
			</div>
			<!--/span-->


			<img ng-if="loading" src="../public/common/img/ajax_loader.gif"
				style="z-index: 9999; width: 10%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
				alt="" />

			<div class="wrapper">

				<form class="form-signin" ng-submit="createuser()" name="form"
					style="border-radius: 10px;">

					<div class="row-margin">

						<div class="col-sm-12">

							<span>Full Name</span> <input type="text" name="fullname"
								class="form-control inputHeight" ng-model="ad.fullName" ng-pattern="/^(\D)+$/"
								ng-readonly="checked" required>
							<p  style="color: red;" ng-show="form.fullname.$error.pattern">Text
								only</p>
						</div>

					</div>

					<div class="row-margin">
						<div class="col-sm-12">
							<span>Mobile No</span> <input type="number" name="number"
								ng-minlength="10" class="form-control inputHeight"
								ng-model="ad.mobNo" ng-readonly="checked" required
								maxlength="10" positive-integer oninput="maxLengthCheck(this)">
							<p style="color: red; margin-top: 5px;"
								ng-if="form.number.$error.minlength">Enter Valid Mobile No</p>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12">
							<span>Email Id</span> <input type="email" id="email" name="email"
								class="form-control inputHeight" ng-model="ad.email"
								ng-readonly="checked" email-validate required>
							<p style="color: red; margin-top: 5px;" ng-if="invalidEmail">Not
								a valid e-mail address</p>
						</div>

					</div>
					<div class="row-margin">
						<div class="col-sm-12">
							<select class="form-control" id="tags" style="margin-top: 3%;"
								ng-model='selectedavailableTags'
								ng-options='availableTag for availableTag in availableTags'></select>
						</div>

					</div>

					<div class="row row-margin">

						<div class="col-sm-12">

							<button class="btn  btn-block" ng-disabled="checked"
								style="background-color: red; margin-top: 3%; color: white;"
								type="submit">Create Account</button>

						</div>

					</div>

				</form>
			</div>
</body>
</html>




