<!DOCTYPE html>
<html ng-app="associateDetailsF">
<head>
<meta charset="ISO-8859-1">
<title>Associate Details</title>
<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="css/associateDetails.css">
<link rel="shortcut icon" href="../public/common/img/tabLogo.png">
<script src="js/associateDetails.js" type="text/javascript"></script>

</head>
<body ng-app="associateDetailsF" ng-controller="associateDetailsCtrl">


	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#naveq">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div class="collapse" id="naveq">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="financeManagerHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class=" row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas left-paneal"
				id="sidebar" role="navigation">

				<ul class="nav nav-sidebar">
					<li><a href="financeManagerHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				
			</div>
			<!--/span-->

			<div class="wrapper">
				<form class="form-signin" ng-submit="approve()"
					style="border-radius: 10px;">

					<h2 class="form-signin-heading">Associate Details</h2>

					<div class="row-margin">

						<div class="col-sm-6">
							<span>Company Name</span> <input class="form-control inputHeight"
								ng-readonly="true" ng-model="as.companyName"></input>
						</div>

						<div class="col-sm-6">
							<span>Registered No.</span> <input type="number"
								ng-readonly="true" class="form-control inputHeight"
								ng-model="as.registeredNo"></input>
						</div>

					</div>

					<div class="row-margin">


						<div class="col-sm-4">
							<span>TIN No.</span> <input type="number" ng-readonly="true"
								class="form-control inputHeight" ng-model="as.tinNo"></input>
						</div>

						<div class="col-sm-4">
							<span>PAN No.</span> <input class="form-control inputHeight"
								ng-readonly="true" ng-model="as.panNo"></input>
						</div>
						<div class="col-sm-4">
							<span>CST No.</span> <input type="number" ng-readonly="true"
								class="form-control inputHeight" ng-model="as.cstNo"></input>
						</div>
					</div>

					<div class="row-margin">

						<div class="col-sm-4">
							<span>Service Tax Registration No</span> <input type="number"
								ng-readonly="true" class="form-control inputHeight"
								ng-model="as.serviceTXregiNo"></input>
						</div>

						<div class="col-sm-4">
							<span>Telephone No.</span> <input type="number"
								ng-readonly="true" class="form-control inputHeight"
								ng-model="as.telePhoneNo" maxlength="10"
								oninput="maxLengthCheck(this)"></input>
						</div>

						<div class="col-sm-4">
							<span>Web Address</span> <input type="url" ng-readonly="true"
								class="form-control inputHeight" ng-model="as.webAddress"></input>
						</div>

					</div>

					<div class=" row-margin">

						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>
						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>
						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>
						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>
						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>
						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>
						<div class="row-margin">
							<div class="col-sm-12"></div>
						</div>

						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<span>Registered Address :- </span></br> <span>Address Line 1</span>
									<input class="form-control inputHeight inputV"
										ng-readonly="true" ng-model="as.rAddressLine1"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>Address Line 2</span> <input ng-readonly="true"
										class="form-control inputHeight inputV"
										ng-model="as.rAddressLine2"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>Town/City</span> <input
										class="form-control inputHeight inputV" ng-model="as.rTown"
										ng-readonly="true"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>State</span> <input
										class="form-control inputHeight inputV" ng-model="as.rState"
										ng-readonly="true"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>Pincode</span> <input type="number"
										class="form-control inputHeight inputV" ng-model="as.rPincode"
										ng-readonly="true"></input>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<span>Billing Address :- </span></br> <span>Address Line 1</span> <input
										class="form-control inputHeight inputV" ng-readonly="true"
										ng-model="as.bAddressLine1"> </input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>Address Line 2</span> <input
										class="form-control inputHeight inputV" ng-readonly="true"
										ng-model="as.bAddressLine2"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>Town/City</span> <input
										class="form-control inputHeight inputV" ng-model="as.bTown"
										ng-readonly="true"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>State</span> <input
										class="form-control inputHeight inputV" ng-model="as.bState"
										ng-readonly="true"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span>Pincode</span> <input type="number"
										class="form-control inputHeight inputV" ng-model="as.bPincode"
										ng-readonly="true"></input>
								</div>
							</div>
						</div>

						<div class="row row-margin">

							<span>Bank Details :-</span></br>
							<div class="col-sm-6">
								<span>Payee Name</span> <input
									class="form-control inputHeight inputV" ng-model="as.payeeName"
									ng-readonly="true"></input>
							</div>
							<div class="col-sm-6">
								<span>Bank Name</span> <input
									class="form-control inputHeight inputV" ng-model="as.bankName"
									ng-readonly="true"></input>
							</div>

						</div>

						<div class="row row-margin">

							<div class="col-sm-6">
								<span>Account No</span> <input type="number"
									class="form-control inputHeight inputV" ng-model="as.accountNo"
									ng-readonly="true"></input>
							</div>
							<div class="col-sm-6">
								<span>IFSC Code</span> <input
									class="form-control inputHeight inputV" ng-model="as.ifsc_Code"
									ng-readonly="true"></input>
							</div>

						</div>

						<div class="row row-margin">

							<div class="col-sm-6">
								<span>Routing/ Swift No</span> <input type="number"
									ng-readonly="true" class="form-control inputHeight inputV"
									ng-model="as.rout_swift_No"></input>
							</div>

						</div>

						<div class="row row-margin">

							<span>Associate Details :-</span></br>
							<div class="col-sm-6">
								<span>Name of Associate</span> <input
									class="form-control inputHeight inputV" ng-readonly="true"
									ng-model="as.associateName"></input>
							</div>
							<div class="col-sm-6">
								<span>Associate SPOC</span> <input
									class="form-control inputHeight inputV" ng-readonly="true"
									ng-model="as.associateSPOC"></input>
							</div>

						</div>

						<div class="row row-margin">

							<div class="col-sm-6">
								<span>Mobile No.</span> <input type="number" ng-readonly="true"
									class="form-control inputHeight inputV" ng-model="as.mobNo" re></input>
							</div>
							<div class="col-sm-6">
								<span>Email</span> <input type="email" ng-readonly="true"
									class="form-control inputHeight inputV"
									ng-model="as.associateEmail"></input>
							</div>

						</div>
						<div class="row row-margin">

							<div class="col-sm-12">
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>No.</th>
												<th>Name</th>
												<th>Uploaded date</th>
												<th>File size</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="upload_data in uploadfiles | itemsPerPage:6">
												<td><span>{{$index + 1|number}}</span></td>
												<td><span>{{upload_data.name}}</span></td>
												<td><span>{{upload_data.creationDate}}</span></td>
												<td><span>{{upload_data.size/(1024*1024)|setDecimal:4}} </span> KB</td>
												<td><span><a href="/get/{{upload_data.id}}"
														class="btn btn-success">Download</a></span>
											</tr>
										</tbody>
									</table>
									<dir-pagination-controls max-size="6" direction-links="true"
										boundary-links="true"> </dir-pagination-controls>
								</div>
							</div>
						</div>



						<div class="row row-margin">

							<div class="col-sm-6">
								<span>Set category of associate</span> <select
									class="form-control" id="category" style="margin-top: 3%;"
									ng-model='selectedavailableCategory'
									ng-options='availableUser for availableUser in availableCategorys'></select>
							</div>
							<div class="col-sm-6">
								<!-- <span>Email</span> <span type="email"
									class="form-control inputHeight inputV"
									ng-model="as.associateEmail"></span> -->
							</div>

						</div>
						<div class="row row-margin">

							<div class="col-sm-3"></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-4">
								<button class="btn btn-danger" style="background-color: red;"
									type="submit">Approve</button>
							</div>
							<div class="col-sm-3"></div>
						</div>

					</div>

				</form>
			</div>

			<!--/row-->
		</div>
	</div>
	<!--/.container-->

	<footer>
		<p class="pull-right">Copyrightę2016 AibsInc</p>
	<script src="../public/common/js/dirPagination.js"></script>
	</footer>

</body>
</html>



