<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="../public/common/img/tabLogo.png">
<script src="js/homepage.js" type="text/javascript"></script>
</head>
<body ng-app="FM" ng-controller="homepageCtrl">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" s
					data-target="#nave">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div class="collapse" id="nave">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="homePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar"
				role="navigation">

				<ul class="nav nav-sidebar">
					<li class="active"><a href="homePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item</a></li>
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>

			</div>
			<!--/span-->

			<div class="col-sm-9 col-md-10 main" ng-controller="associateCtrl">

				<h1 class="page-header">Associate List</h1>
				<div class="form-inline">
					<span>Items per page</span><select class="form-control"
						style="width: 76px; margin-left: 2%;" ng-model='item'
						ng-options='availableItem for availableItem in availableItems'></select>

				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>No.</th>
								<th>Company Name</th>
								<th>Associate name</th>
								<th>Email Id</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr
								dir-paginate="upload_data in associateData.slice().reverse()|itemsPerPage:item">
								<td><span>{{$index + 1|number}}</span></td>
								<td><span>{{upload_data.companyName}}</span></td>
								<td><span>{{upload_data.associateName}}</span></td>
								<td><span>{{upload_data.associateEmailId}}</span></td>
								<td><span><a href=""
										ng-click="associateDetails(this,upload_data.associateUserId)">more details
											>></a></span>
							</tr>
						</tbody>
					</table>
					
					<dir-pagination-controls max-size="item" direction-links="true"
						boundary-links="true"> </dir-pagination-controls>
				</div>

			</div>
			<!--/row-->
		</div>
	</div>
	<!--/.container-->

	<footer>
		<p class="pull-right">Copyrightę2016 AibsInc</p>
	</footer>

	<script src="../public/common/js/dirPagination.js"></script>
</body>
</html>