<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Project</title>

<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"
	type="text/css" rel="stylesheet" media="all">
<link
	href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
	rel="stylesheet">
<link
	href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
	rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script data-cfasync="false"
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="../public/common/img/tabLogo.png">
<script src="js/createProject.js" type="text/javascript"></script>
</head>
<body ng-app="createProject">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		style="position: fixed;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#nave">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div class="collapse" id="nave">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="opManagerHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar"
				role="navigation">

				<ul class="nav nav-sidebar">
					<li><a href="opManagerHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item</a></li>
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>

			</div>
			<!--/span-->

			<div class="wrapper">
				<form class="form-signin" ng-submit="submit()" name="form"
					style="border-radius: 10px;" ng-controller="tagsCtrl">

					<h2 style="text-align: center;">Create Project (Tender ID-41)</h2>
					<div class="panel panel-default">
						<div class="panel-heading">

							<h4>
								<i class="fa fa-tag fa-lg"></i> Select Associates:
							</h4>

						</div>
					</div>

					<div class="row-margin">

						<div class="col-sm-12">
							<tag-manager tags="tags" autocomplete="allTags"></tag-manager>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Project Title:</span> <input ng-model="createProject.projectTitle"
								style="height: 30px; margin-top: 10px;" type="text"
								class="form-control" placeholder="Project title" required>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Project Description:</span>
							<textarea style="height: 100px; resize: none; margin-top: 10px;"
								rows="3" cols="30" class="form-control" ng-model="createProject.projectDescription"
								placeholder="Project Description"></textarea required>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Scope of Project :</span>
							<textarea style="height: 100px; resize: none; margin-top: 10px;"
								rows="3" cols="30" class="form-control" ng-model="createProject.scopeOfWork"
								placeholder="Scope of Project" required></textarea>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							Project Duration: <input ng-model="createProject.projectDuration"
								style="height: 30px; width: 50%; float: right;" type="text"
								class="form-control" placeholder="Project Duration" required>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span style="height: 30px;">Project Value:</span> <input ng-model="createProject.projectvalue"
								style="height: 30px; width: 50%; float: right;" type="text"
								class="form-control" placeholder="Project Value" required>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span style="height: 30px;">Project Start Date:</span> <input
								type="date" ng-model="createProject.projectStartDate"
								style="height: 30px; width: 50%; resize: none; float: right;"
								class="form-control" placeholder="Project Start Date" required>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span style="height: 30px;">Project End Date:</span> <input
								type="date" ng-model="createProject.projectEndDate"
								style="height: 30px; width: 50%; resize: none; float: right;"
								class="form-control" placeholder="Project End Date" required>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12 table-responsive" style="margin-top: 10px;">

							<div class="panel panel-default">
								<div class="panel-heading">

									<h4>
										<i class="fa fa-tag fa-lg"></i> Project Financials:
									</h4>

								</div>
							</div>

							<table class="table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th rowspan="2"
											style="width: 20%; text-align: center; vertical-align: middle;">Revenue</th>
										<th colspan="2" style="width: 40%; text-align: center;">Planned</th>
										<th colspan="2" style="width: 40%; text-align: center;">Actual</th>

									</tr>
									<tr>

										<th style="width: 20%; text-align: center;">Date</th>
										<th style="width: 20%; text-align: center;">Amount</th>
										<th style="width: 20%; text-align: center;">Date</th>
										<th style="width: 20%; text-align: center;">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in createProject.revenues">
										<td><input ng-model="item.revMilestone" type="text"
											style="height: 30px; margin: 0px;" class="input-fields" required></td>
										<td><input ng-model="item.revDateP" type="date"
											style="height: 30px; margin: 0px;" class="input-fields" required></td>
										<td class="input-group"><div class="input-group-addon"><i class="fa fa-inr"></i></div><input ng-model="item.revAmountP" type="number"
											style="height: 30px; margin: 0px;text-align: center;" class="input-fields" required></td>
										<td><input ng-model="item.revDateA" type="date"
											style="height: 30px; margin: 0px;" class="input-fields" required></td>
										<td class="input-group"><div class="input-group-addon"><i class="fa fa-inr"></i></div><input ng-model="item.revAmountA" type="number"
											style="height: 30px; margin: 0px;text-align: center;" class="input-fields" required></td>
										<td>
											<a ng-click="removeRevenue(this)" class="btn btn-danger"
												style="margin-bottom: 0px;">X</a>
										</td>
									</tr>
									<tr>
								          <td
								           style="height: 30px; margin: 0px; text-align: center; vertical-align: middle;""
								               >Totals</td>
								          <td></td>
								          <td style="text-align: center;"> <i class="fa fa-inr"></i> {{  getrevenuepTotal() }}</td>
								          <td></td>
								          <td style="text-align: center;"><i class="fa fa-inr"></i> {{  getrevenueaTotal() }}</td>
						         	</tr>
								</tbody>
							</table>

							<a style="margin-bottom: 15px; margin-top: 2px;"
								ng-click="addInputRevenue()" class="btn">Add Milestone</a>

						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12 table-responsive" style="margin-top: 10px;">
							<table class="table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th rowspan="2"
											style="width: 20%; text-align: center; vertical-align: middle;">Cost</th>
										<th colspan="2" style="width: 40%; text-align: center;">Planned</th>
										<th colspan="2" style="width: 40%; text-align: center;">Actual</th>

									</tr>
									<tr>

										<th style="width: 20%; text-align: center;">Date</th>
										<th style="width: 20%; text-align: center;">Amount</th>
										<th style="width: 20%; text-align: center;">Date</th>
										<th style="width: 20%; text-align: center;">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in createProject.costs">
										<td><input ng-model="item.cosMilestone" type="text"
											style="height: 30px; margin: 0px;" class="input-fields" required></td>
										<td><input ng-model="item.cosDateP" type="date"
											style="height: 30px; margin: 0px;" class="input-fields" required></td>
										<td class="input-group"><div class="input-group-addon"><i class="fa fa-inr"></i></div><input ng-model="item.cosAmountP" type="number"
											style="height: 30px; margin: 0px;text-align: center;" class="input-fields" required></td>
										<td><input ng-model="item.cosDateA" type="date"
											style="height: 30px; margin: 0px;" class="input-fields" required></td>
										<td class="input-group"><div class="input-group-addon"><i class="fa fa-inr"></i></div><input ng-model="item.cosAmountA" type="number"
											style="height: 30px; margin: 0px;text-align: center;" class="input-fields" required></td>
										<td>
											<a ng-click="removeCost(this)" class="btn btn-danger"
												style="margin-bottom: 0px;">X</a>
										</td>
									</tr>
									<tr>
								          <td
								           style="height: 30px; margin: 0px; text-align: center; vertical-align: middle;""
								               >Totals</td>
								          <td></td>
								          <td style="text-align: center;"><i class="fa fa-inr"></i> {{ getpTotal() }}</td>
								          <td></td>
								          <td style="text-align: center;"><i class="fa fa-inr"></i> {{ getaTotal() }}</td>
							         </tr>
								</tbody>
							</table>


							<a style="margin-bottom: 15px; margin-top: 2px;"
								ng-click="addInputCost()" class="btn">Add Milestone</a>

							<table style="width: 96%;" class="table">
						        <tr>
						         <td
						          style="height: 30px; margin: 0px; width: 19.5%; text-align: center; vertical-align: middle; font-size: 14px; font-weight: bold;">Profit</td>
						         <td style="width: 19.5%;">Planned</td>
						         <td style="text-align: center; width: 19.5%;"><i
						          class="fa fa-inr"></i> {{ getPlannedProfit() }}</td>
						         <td style="width: 19.5%;">Actual</td>
						         <td style="text-align: center; width: 19.5%;"><i
						          class="fa fa-inr"></i> {{ getActualProfit() }}</td>
						        </tr>
					       </table>

						</div>

					</div>



					<div class="row row-margin">

						<div class="col-sm-12">
							<input type="submit" value="Submit"
								style="height: 35px; width: 100px; margin-top: 10px;"
								class="form-control center-block">
						</div>
						<!-- <pre>createProject = {{createProject | json}}</pre> -->
					</div>


				</form>
			</div>

			<!--/row-->
		</div>
	</div>
	<!--/.container-->

	<footer>
	  <p style="float: right; margin-right: 65px;">Copyrightę2016
	   AibsInc</p>
	 </footer>

</body>
</html>