<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Associate Registration Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../common/angularjs/angular.min.js"></script>
<script src="../common/angularjs/angular-messages.js"></script>
<link href="../common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="../common/img/tabLogo.png">
<script src="js/register.js" type="text/javascript"></script>
<script>
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength)
			object.value = object.value.slice(0, object.maxLength);
	}
</script>
</head>
<body ng-app="register" ng-controller="registerCtrl">

	<img ng-if="loading" src="../common/img/ajax_loader.gif"
		style="z-index: 9999; width: 10%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
		alt="" />

	<div class="wrapper" ng-if="regg">
		<form class="form-signin" ng-submit="next()" name="form"
			style="border-radius: 10px;">
			<h2 class="form-signin-heading">Associate Registration</h2>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Company Name</span> <input type="text"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.companyName" required>
				</div>

				<div class="col-sm-6">
					<span>Registration Number</span> <input type="number"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.registeredNo">
				</div>

			</div>

			<div class="row row-margin">


				<div class="col-sm-4">
					<span>TIN No.</span> <input type="number"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.tinNo">
				</div>

				<div class="col-sm-4">
					<span>PAN No.</span> <input type="text" name="panNo"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.panNo" required maxlength="10" minlength="10"
						oninput="maxLengthCheck(this)">
					<div ng-messages="form.panNo.$error" role="alert"
						style="color: red;">
						<div ng-message="minlength">invalid PAN No</div>
						<div ng-message="maxlength">invalid PAN No</div>
					</div>
				</div>
				<div class="col-sm-4">
					<span>CST No.</span> <input type="number"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.cstNo">
				</div>
			</div>

			<div class="row row-margin">

				<div class="col-sm-4">
					<span>Service Tax Registration No</span> <input type="number"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.serviceTXregiNo">
				</div>

				<div class="col-sm-4">
					<span>Telephone No.</span> <input type="number"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.telePhoneNo" required maxlength="10" minlength="10"
						name="telePhoneNo" oninput="maxLengthCheck(this)">
					<div ng-messages="form.telePhoneNo.$error" role="alert"
						style="color: red;">
						<div ng-message="minlength">invalid Telephone No</div>
						<div ng-message="maxlength">invalid Telephone No</div>
					</div>
				</div>

				<div class="col-sm-4">
					<span>Web Address</span> <input type="url"
						class="form-control inputHeight" ng-readonly="checked"
						ng-model="vm.webAddress" required>
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6"></div>
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12">
							<span>Registered Address :- </span></br> <span>Address Line 1</span> <input
								type="text" class="form-control inputHeight inputV"
								ng-readonly="checked" ng-model="vm.rAddressLine1" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>Address Line 2</span> <input type="text"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.rAddressLine2" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>Town/City</span> <input type="text"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.rTown" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>State</span> <input type="text"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.rState" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>Pincode</span> <input type="number" name="rPincode"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.rPincode" required maxlength="6" minlength="6"
								oninput="maxLengthCheck(this)">
							<div ng-messages="form.rPincode.$error" role="alert"
								style="color: red;">
								<div ng-message="minlength">invalid pincode</div>
								<div ng-message="maxlength">invalid pincode</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12">
							<span>Billing Address :- </span><input type="checkbox"
								class="primary" ng-model="check" ng-click="change(check)">Same
							as register address</br> <span>Address Line 1</span> <input
								type="text" class="form-control inputHeight inputV"
								ng-readonly="checked" ng-model="vm.bAddressLine1" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>Address Line 2</span> <input type="text"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.bAddressLine2" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>Town/City</span> <input type="text"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.bTown" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>State</span> <input type="text"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.bState" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>Pincode</span> <input type="number" name="bPincode"
								class="form-control inputHeight inputV" ng-readonly="checked"
								ng-model="vm.bPincode" required maxlength="6" minlength="6"
								oninput="maxLengthCheck(this)">
							<div ng-messages="form.bPincode.$error" role="alert"
								style="color: red;">
								<div ng-message="minlength">invalid pincode</div>
								<div ng-message="maxlength">invalid pincode</div>
							</div>
						</div>
					</div>
				</div>



			</div>

			<button class="btn  btn-block" ng-disabled="!form.$valid"
				style="background-color: red; margin-top: 3%; color: white;"
				type="submit">Next</button>


		</form>
	</div>


	<div class="wrapper-address" ng-if="address">
		<form class="form-uploading" ng-submit="register()" name="form2"
			style="border-radius: 10px;">
			<h2 class="form-signin-heading">Associate Registration</h2>

			<div class="row row-margin">

				<span>Bank Details :-</span></br>
				<div class="col-sm-6">
					<span>Payee Name</span> <input type="text" name="payeeName"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-model="vm.payeeName" ng-pattern="/^(\D)+$/" required>
					<p style="color: red;" ng-show="form2.payeeName.$error.pattern">text
						only</p>
				</div>
				<div class="col-sm-6">
					<span>Bank Name</span> <input type="text" name="bankName"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-pattern="/^(\D)+$/" ng-model="vm.bankName" required>
					<p style="color: red;" ng-show="form2.bankName.$error.pattern">text
						only</p>
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Account No</span> <input type="number" name="accountNo"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-model="vm.accountNo" required>
				</div>
				<div class="col-sm-6">
					<span>IFSC Code</span> <input type="text" name="ifsc_Code"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-model="vm.ifsc_Code" required maxlength="11" minlength="11"
						oninput="maxLengthCheck(this)">
					<div ng-messages="form2.ifsc_Code.$error" role="alert"
						style="color: red;">
						<div ng-message="minlength">invalid IFSC No</div>
						<div ng-message="maxlength">invalid IFSC No</div>
					</div>

				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Routing/ Swift No</span> <input type="number"
						name="rout_swift_No" class="form-control inputHeight inputV"
						ng-readonly="checked" ng-model="vm.rout_swift_No" required>
				</div>

			</div>


			<div class="row row-margin">

				<span>Associate Details :-</span></br>
				<div class="col-sm-6">
					<span>Name of Associate</span> <input type="text"
						name="associateName" class="form-control inputHeight inputV"
						ng-readonly="checked" ng-pattern="/^(\D)+$/"
						ng-model="vm.associateName" required>
					<p style="color: red;" ng-show="form2.associateName.$error.pattern">text
						only</p>
				</div>
				<div class="col-sm-6">
					<span>Associate SPOC</span> <input type="text" name="associateSPOC"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-model="vm.associateSPOC" required>
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Mobile No.</span> <input type="number" name="mobNo"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-model="vm.mobNo" required maxlength="10" minlength="10"
						oninput="maxLengthCheck(this)">
					<div ng-messages="form2.mobNo.$error" role="alert"
						style="color: red;">
						<div ng-message="minlength">invalid Telephone No</div>
						<div ng-message="maxlength">invalid Telephone No</div>
					</div>
				</div>
				<div class="col-sm-6">
					<span>Email</span> <input type="email" name="associateEmail"
						class="form-control inputHeight inputV" ng-readonly="checked"
						ng-model="vm.associateEmail" required>
					<p style="color: red; margin-top: 5px;" ng-if="invalidEmail">Not
						a valid e-mail address</p>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-6">
					<button class="btn" ng-disabled="checked"
						style="background-color: red; margin-top: 3%; color: white; width: 100%;"
						ng-click="back()">Back</button>
				</div>
				<div class="col-sm-6">
					<button class="btn" ng-disabled="!form2.$valid" ng-show="!checked"
						ng-disabled="!form2.$valid"
						style="background-color: red; margin-top: 3%; color: white; width: 100%;"
						type="submit">Next</button>
				</div>
			</div>

		</form>
	</div>


	<div class="wrapperUpload" ng-if="fileuploadV">
		<form class="form-uploading" ng-submit="fileupload()"
			style="border-radius: 10px;">
			<h2 class="form-signin-heading">Document Submission</h2>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Financial Statement of last financial year</span>
				</div>
				<div class="col-sm-4">
					<input type="file" name="file1" id="file1" ng-model="file1"
						class="inline-block">
				</div>
				<div class="col-sm-2">
					<a ng-click="FS()" style="background-color: #286090; color: white;"
						class="btn">Upload</a> <img src="../common/img/ajax_loader.gif"
						style="width: 21%" ng-if="FS1" alt="" />
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Service Tax Registration Copy</span>
				</div>
				<div class="col-sm-4">
					<input type="file" name="file2" id="file2" ng-model="file2"
						class="inline-block">
				</div>
				<div class="col-sm-2">
					<a ng-click="STR()"
						style="background-color: #286090; color: white;" class="btn">Upload</a>
					<img src="../common/img/ajax_loader.gif" style="width: 21%"
						ng-if="STR1" alt="" />
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>TIN Registration Certificat</span>
				</div>
				<div class="col-sm-4">
					<input type="file" name="file3" id="file3" ng-model="file3"
						class="inline-block">
				</div>
				<div class="col-sm-2">
					<a ng-click="TIN()"
						style="background-color: #286090; color: white;" class="btn">Upload</a>
					<img src="../common/img/ajax_loader.gif" style="width: 21%"
						ng-if="TIN1" alt="" />
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Shop & Establishment Copy</span>
				</div>
				<div class="col-sm-4">
					<input type="file" name="file4" id="file4" ng-model="file4"
						class="inline-block">
				</div>
				<div class="col-sm-2">
					<a ng-click="SE()" style="background-color: #286090; color: white;"
						class="btn">Upload</a> <img src="../common/img/ajax_loader.gif"
						style="width: 21%" ng-if="SE1" alt="" />
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>Lower deduction Certificate</span>
				</div>
				<div class="col-sm-4">
					<input type="file" name="file5" id="file5" ng-model="file5"
						class="inline-block">
				</div>
				<div class="col-sm-2">
					<a ng-click="LDC()"
						style="background-color: #286090; color: white;" class="btn">Upload</a>
					<img src="../common/img/ajax_loader.gif" style="width: 21%"
						ng-if="LDC1" alt="" />
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-6">
					<span>MSME (Micro Small Medium Enterprise) Certificate</span>
				</div>
				<div class="col-sm-4">
					<input type="file" name="file6" id="file6" ng-model="file6"
						class="inline-block">
				</div>
				<div class="col-sm-2">
					<a ng-click="MSME()"
						style="background-color: #286090; color: white;" class="btn">Upload</a>
					<img src="../common/img/ajax_loader.gif" style="width: 21%"
						ng-if="MSME1" alt="" />
				</div>

			</div>
			<button type="submit" ng-disabled="checked"
				style="background-color: red; color: white; margin-top: 19px;"
				class="btn center-block">Submit</button>
		</form>
	</div>

</body>
</html>





